<header class="site-header">
  <div class="wrap">
    <div class="mainline">
      <div class="site-brand">
        <a class="site-title" href="{{ '/' | relative_url }}">{{ site.title }}</a>
      </div>
      <nav class="site-nav">
        <a href="{{ '/' | relative_url }}">홈</a>
        <a href="{{ '/projects/' | relative_url }}">프로젝트</a>
        <a href="{{ '/about/' | relative_url }}">소개</a>
        <a href="{{ '/feed.xml' | relative_url }}">RSS</a>
      </nav>
    </div>

    <div class="subline">
      <p class="site-tagline">{{ site.description }}</p>
    </div>
  </div>
</header>
